body {
	background-color: #efeee7;
	font-family: "georgia", "Times New Roman", times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333333;
}

h1 {
	color: #eee;
	font-size: 28px;
	text-align: center;
	padding: 20px;
	margin-top: 0;
}

h2 {
	font-size: 24px;
}

a {
	color: #D21034;
}

p {
	font-size: 95%;

}

.container {
	margin: 0 auto;
	width: 1024px;
}

#main-bio {
	float: left;
	width: 70%;
	text-align: justify;
}

#bio-image {
	float: left;
	width: 200px;
	margin: 2px 20px 2px -15px;
}

#contact-info {
	float: left;
	width: 30%;
	line-height: 150%;
}




